// ------------------------------------------------------------
// Bannner 
// ------------------------------------------------------------

.banner {
  overflow: hidden;
}

.banner p {
  font-size: 20px;
  opacity: .8;
}

.banner .nav-link.text-dark {
  color: $white !important;
}

.banner .nav-link.text-dark:hover {
  color: $white !important;
}

.banner .navbar-brand {
  color: $white !important;
}

/* search */

#project-icon {
  float: left;
  height: 32px;
  width: 32px;
}

#project-description {
  margin: 0;
  padding: 0;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  background: $white;
  padding: 5px 20px 20px;
  right: 0 !important;
  max-height: 200px;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
  z-index: 9999;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, .07)
}


@media (max-width: 575px) {
  .ui-menu {
    width: calc(100% - 30px) !important;
  }
}

@media (min-width: 576px) {
  .ui-menu {
    max-width: 510px !important;
  }
}

@media (min-width: 768px) {
  .ui-menu {
    max-width: 690px !important;
  }
}

@media (min-width: 992px) {
  .ui-menu {
    max-width: 610px !important;
  }
}

@media (min-width: 1200px) {
  .ui-menu {
    max-width: 730px !important;
  }
}

.ui-menu-item a {
  color: $text-color;
  padding: 8px 0;
  font-size: 15px;
}

.ui-menu-item a:hover {
  color: $color-primary;
}

.ui-menu-item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.ui-menu-item * {
  display: none;
}

.ui-menu-item .ui-corner-all {
  display: block;
}


/* /navigation */
textarea.form-control {
  height: 150px;
  padding: 20px;
}

.icon {
  font-size: 40px;
}

#accordion-wrapper .accordion {

  margin-bottom: 25px;
  transition: .3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;

  &-button {
    font-size: 20px;
    color: rgba($dark, 0.8);
    background-color: transparent;

    &:hover,
    &[aria-expanded="true"] {
      color: $color-primary;
    }
  }

  &-body {
    padding-top: 0px;
    color: rgba($dark, 0.7);
  }

  &:hover,
  &:focus {
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.1) !important;
  }
}

.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;

  &:hover,
  &:focus {
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.059) !important;
  }
}

.shadow-bottom {
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}

.list-styled ul li {
  padding-left: 20px;
  position: relative;
}

.list-styled ul li::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: $color-primary;
  opacity: .3;
  left: 0;
  top: 17px;
}

.post-meta {
  color: $text-color;
  font-style: italic;
  font-size: 14px;
}

blockquote {
  font-size: 20px !important;
  color: $text-dark;
  padding: 20px 40px;
  border-left: 2px solid $color-primary;
  margin: 40px 0;
  font-weight: bold;
  background: $text-light;
}

blockquote p {
  margin-bottom: 0 !important;
}

.pagination {
  justify-content: space-between;
}

.pagination a {
  color: $color-primary;
}

.pagination i {
  font-size: 15px;
  line-height: 1.8;
}

#accordion i {
  font-size: 14px;
  line-height: 2;
}

table {
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}

table td,
table th {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
  margin-bottom: 0;
}

thead {
  background: #ececec;
  margin-bottom: 0;
}

tbody {
  background: #f8f8f8;
  margin-bottom: 0;
}

.notices {
  margin: 2rem 0;
  position: relative;
}

.notices p {
  padding: 10px;
}

.notices p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e717";
  left: 10px;
}

.notices.note p {
  border-top: 30px solid #6ab0de;
  background: #e7f2fa;
}

.notices.note p::after {
  content: 'Note';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}


.notices.tip p {
  border-top: 30px solid #78C578;
  background: #E6F9E6;
}

.notices.tip p::after {
  content: 'Tip';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

.notices.info p {
  border-top: 30px solid #F0B37E;
  background: #FFF2DB;
}

.notices.info p::after {
  content: 'Info';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}


.notices.warning p {
  border-top: 30px solid #E06F6C;
  background: #FAE2E2;
}

.notices.warning p::after {
  content: 'Warning';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

/* /single page */

/* side list */
.sidebar {
  background-color: $white;
  position: sticky;
  top: 50px;
  margin-bottom: 30px;
  padding: 40px 10px 20px 10px;
}

.sidelist {
  display: block;
}

li.sidelist>a {
  margin-left: 20px;
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
}

li.sidelist li a {
  margin: 0;
}

.sidelist li.sidelist {
  display: block;
}

.sidelist li.sidelist.active a {
  color: $color-primary;
}

.sidelist li.sidelist.active::before {
  opacity: 1;
}

.page-list {
  margin: 0px;
  padding: 0px;

  ul {
    margin: 0px;
    padding: 0px;
  }

  li a {
    display: none;
  }

  li ul a {
    display: block;
  }
}

.sidelist li a {
  color: $text-dark;
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
  line-height: 1.4;
}

p:empty,
p a:empty {
  display: none !important;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
}

code {
  margin-bottom: 0 !important;
  font-size: 100%;
}

.back-btn {
  position: relative;
}

.back-btn::before {
  position: absolute;
  font-family: 'themify';
  content: "\e6bc";
  font-size: 25px;
  height: 30px;
  width: 40px;
  background-color: $white;
  color: inherit;
  text-align: right;
  z-index: 1;
  left: -5px;
  top: -5px;
}

.ui-autocomplete-input {
  border-bottom: 1px solid rgb(212, 212, 212) !important;
  padding-right: 50px;
}

.ui-autocomplete-input.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 14px;
}

i {
  transition: .2s ease;
}

a:hover i {
  color: $color-primary;
}

/* custom scrollbar */
pre code::-webkit-scrollbar {
  height: 5px;
}

pre code::-webkit-scrollbar-track {
  background: #000000;
}

pre code::-webkit-scrollbar-thumb {
  background: #888;
}

/* content tabs */
.code-tabs {
  border: 1px solid #dee2e6;
  overflow: hidden;
  margin: 20px 0px;
}

.code-tabs .tab-content {
  padding: 20px 15px;
  margin-bottom: 0;
}

.code-tabs .tab-content .tab-pane {
  margin-bottom: 0;
}

.code-tabs .nav-tabs {
  margin-bottom: 0;
}

.code-tabs .nav-tabs .nav-item {
  padding-left: 0;
  border-right: 1px solid #dee2e6;
}

.code-tabs .nav-tabs .nav-item .nav-link {
  text-decoration: none;
  font-weight: 500;
  border: 0;
  margin-bottom: 0;
}

.code-tabs .nav-tabs .nav-item::before {
  display: none;
}

.code-tabs .nav-tabs .nav-item.active {
  background: $color-primary;
}

.code-tabs .nav-tabs .nav-item.active .nav-link {
  color: $white;
}