<!-- Navigation -->
<header
  class="{{if not .IsHome}} shadow-bottom sticky-top bg-white{{end}} {{if .Params.banner.bg_image}}banner overlay{{end}}"
  {{if and .Params.banner.bg_image .IsHome}} {{ partial `bg-image.html` (dict `Src` .Params.banner.bg_image ) |
  safeHTMLAttr }} {{end}}>
  <nav class="navbar navbar-expand-md {{ if .IsHome }}navbar-dark{{ else }}navbar-light{{ end }}">
    <div class="container px-2 px-md-0">
      <a class="navbar-brand px-2" href="{{ site.BaseURL | relLangURL }}">
        {{ if site.Params.logo }}
        {{partial "logo.html"}}
        {{ else }}
        {{ site.Params.logo_text }}
        {{ end }}
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-menu"></span>
        <span class="ti-close"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ms-auto">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
        <!-- Language List -->
        {{- if site.IsMultiLingual }}
        <select class="lang-list {{ if not .IsHome }}dark mb-3 mb-md-0{{ end }}" id="select-language"
          onchange="location = this.value;">
          {{ $siteLanguages := site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
          {{ $selected := false }}
          {{ if eq $pageLang .Lang}}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
          </option>
          {{ else }}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </select>
        {{ end }}
      </div>
    </div>
  </nav>

  {{ if .IsHome }}
  {{ with .Params.banner }}
  <!-- banner -->
  <div class="container section">
    <div class="row">
      <div class="col-lg-8 text-center mx-auto">
        <h1 class="text-white mb-3">
          {{ .title | markdownify }}
        </h1>
        <p class="text-white mb-4">
          {{ .subtitle | markdownify }}
        </p>
        <form class="search-wrapper mt-2 mx-2 mx-lg-0" name="search-form" data-bs-toggle="modal" data-bs-target="#searchModal">
          <i class="search-icon ti-search"></i>
          <input class="form-control px-4 text-dark" placeholder="{{ i18n `search_placeholder`}}" readonly>
          <button type="button" class="search-button" data-search-toggler>{{ i18n "search" }}</button>
        </form>
      </div>
    </div>
  </div>
  <!-- /banner -->
  {{ partial "components/search-modal" . }}
  {{ end }}
  {{ end }}
</header>
<!-- /Navigation -->