/* Button style */
.btn {
  font-size: 0.875rem;
  font-family: $font-primary;
  text-transform: uppercase;
  padding: .7em 1em;
  border-radius: 0;
  border: none;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-primary {
  background: $color-primary;
  color: $white;
  padding: 16px 44px;
  font-weight: 600;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: rgba($color-primary, 0.8) !important;
    color: $white;
  }
}

.btn-outline-primary {
  color: $white;
  padding: 12px 24px;
  background: transparent;
  border: 1px solid $white;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: rgba($color-primary, 0.8) !important;
  }
}

.inline-button {
  line-height: .8rem !important;
  padding: 5px 8px !important;
  pointer-events: none;
  margin-top: -5px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: $white;
  background-color: $color-primary;
  border-color: $color-primary;
}