body {
  background-color: $body-bg;
  overflow-x: hidden;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-bg;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  background: lighten($color: $color-primary, $amount: 10);
  color: $white;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

pre {
  padding: 20px;
}

a,
a:hover,
a:focus {
  color: $color-primary;
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $color-primary;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  &-sm {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include tablet {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &-title {
    margin-bottom: 2.5rem;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

/* overlay */
.overlay {
  position: relative;

  &>.container {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $color-primary;
    opacity: .8;
  }
}

.bg-primary {
  background: $color-primary !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-light {
  background-color: $text-light !important;
}

.text-white {
  color: $white !important;
}

.text-primary {
  color: $color-primary !important;
}

.text-color {
  color: $text-color !important;
}

.text-default {
  color: $text-color !important;
}

.zindex-1 {
  z-index: 1;
}

.lazy {
  transition: background-image 0.3s ease;
}

.form-control {
  height: 50px;
  border-radius: 25px;
  border: 0;
  padding: 0 20px;
  background-color: $white;
}

.form-control:focus {
  border: 0;
  box-shadow: none !important;
}

// content style
.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .accordion {
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    &-item {
      background-color: $white !important;
    }

    p {
      margin-bottom: 0px;
    }

    &-item {
      border-radius: 0px;
      margin-bottom: 10px;
    }

    &-button {
      box-shadow: none;
      padding: 6px 18px;
      color: $text-dark;
      background-color: transparent;

      &::after {
        transform: scale(0.8);
      }

      &[aria-expanded="true"] {
        &::after {
          transform: scale(0.8) rotate(180deg);
        }
      }
    }

    &-body {
      border-top: 1px solid $border-color;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 1.5rem;

    &.img-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.img-left {
      display: block;
      margin-left: 0;
      margin-right: auto;
    }

    &.img-right {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }

    &.img-float-left {
      float: left;
      margin-right: 1.5rem;
    }

    &.img-float-right {
      float: right;
      margin-left: 1.5rem;
    }
  }

  figure {
    display: inline-block;
    margin-bottom: 1.5rem;

    img {
      margin-bottom: .7rem;
    }

    &.img-center {
      display: block;
      text-align: center;
    }

    &.img-left {
      display: block;
      text-align: left;
    }

    &.img-right {
      display: block;
      text-align: right;
    }

    &.img-float-left {
      float: left;
      margin-right: 1.5rem;
    }

    &.img-float-right {
      float: right;
      margin-left: 1.5rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  strong {
    font-weight: 600;
  }

  a:not(a.btn):not(a.glightbox) {
    color: $color-primary;

    &:hover {
      color: $color-primary;
    }
  }

  ol,
  ul {
    padding-left: 1.25rem;

    li {
      margin-bottom: 0.62rem;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 1.25rem;
    list-style-type: none;

    li {
      padding-left: 1.25rem;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: rgba($color-primary, 0.5);
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }

  .quote i {
    font-size: 30px;
    margin-right: 20px;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background: lighten($color: $light, $amount: 5);
    margin-bottom: 0;
  }

  .accordion-button {
    font-size: 18px;
    padding: 15px 20px;
    background-color: transparent !important;
  }

  .notices p::before {
    width: 15px;
    height: 15px;
    line-height: 9px;
  }

  .notices p::adter {
    top: 50%;
    transform: translateY(-50%);
  }

  blockquote {
    color: $text-color;
    padding: 1.25rem 2.5rem;
    border-left: 2px solid $color-primary;
    margin: 2.5rem 0;
    font-weight: bold;
    background: $light;

    p {
      font-size: 1.25rem !important;
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 0.62rem;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

// pagination
.pagination {
  justify-content: center;
  margin-bottom: 0;

  .nav-prev {
    i {
      padding-left: 10px;
      transition: transform 0.4s;
    }

    &:hover i {
      transform: translateX(-5px);
    }
  }

  .nav-next {
    i {
      padding-right: 10px;
      transition: transform 0.4s;
    }

    &:hover i {
      transform: translateX(5px);
    }
  }
}