html {
  font-size: $font-size;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.5;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  color: $text-color;
  background-color: $body-bg;
}

p {
  color: $text-color;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-dark;
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 45px;

  @include mobile {
    font-size: 40px;
  }
}

// h2,
// .h2 {
//   font-size: 32px;
// }

// h3,
// .h3 {
//   font-size: 26px;
// }

// h4,
// .h4 {
//   font-size: 20px;
// }

// h5,
// .h5 {
//   font-size: 18px;
// }

// h6,
// .h6 {
//   font-size: 14px;
// }

small,
.small {
  font-size: 0.8rem;
}

// List in descending order to prevent extra sort function
$type-levels: 6, 5, 4, 3, 2;

@each $level in $type-levels {
  $font-size: $font-size * $font-scale;

  // Output heading styles
  h#{$level},
  .h#{$level} {
    font-size: $font-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    // responsive for h1, h2, h3, h4
    &:not(h5, .h5, h6, .h6) {
      @include desktop {
        font-size: calc(#{$font-size} * 0.9);
        margin-bottom: 0.55em;
      }

      @include tablet {
        font-size: calc(#{$font-size} * 0.8);
      }
    }

    // responsive for h5, h6
    @include desktop {
      font-size: calc(#{$font-size} * 0.95);
      margin-bottom: 0.55em;
    }

    @include tablet {
      font-size: calc(#{$font-size} * 0.9);
    }
  }
}