html {
  font-size: $font-size;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.5;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  color: $text-color;
  background-color: $body-bg;
}


P {
  color: $text-color;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-dark;
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 45px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 26px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}


small,
.small {
  font-size: 0.8rem;
}