<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{ if .IsHome }}
        {{ "<!-- header -->" | safeHTML }}
        <header class="hero-section overlay bg-cover banner" data-background="{{ .Site.Params.banner.image | absURL }}">
            <div class="container mb-100">
                {{ "<!-- navigation -->" | safeHTML }}
                {{ partial "navigation.html" . }}
                {{ "<!-- /navigation -->" | safeHTML }}
            </div>
        {{ partial "banner.html" . }}
        </header>
        {{ "<!-- /header -->" | safeHTML }}
        {{ else }}
        {{ "<!-- navigation -->" | safeHTML }}
        <header class="shadow-bottom sticky-top bg-white">
            <div class="container">
                {{ partial "navigation.html" . }}
            </div>
        </header>
        {{ "<!-- /navigation -->" | safeHTML }}
        {{ end }}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>